#shoutbox-content, #shoutbox-archive-content {
    font-size: 14px;
    height: 200px;
    overflow-y: scroll;
}

#shoutbox-archive-content {
    height: 300px;
}

#shoutbox-content p, #shoutbox-archive-content p {
    margin: 0;
}

.shoutbox-user-admin {
    color: red;
}

.shoutbox-user, .shoutbox-user-admin {
    font-weight: bold;
}

.shoutbox-timestamp {
    color: darkgrey;
}

#shoutbox .btn-group {
    margin-top: 5px;
}

.shoutbox-shout-option {
    font-size: inherit;
    padding-left: 2px!important;
}