#shoutbox-content {
    font-size: 14px;
    height: 200px;
    overflow-y: scroll;
}

#shoutbox-content p {
    margin: 0;
}

.shoutbox-user-admin {
    color: red;
}

.shoutbox-user-mod {
    color: #008000;
}

.shoutbox-timestamp {
    color: darkgrey;
}

#shoutbox .btn-group {
    margin-top: 5px;
}

#shoutbox .close {
    font-size: inherit;
}