@avatar-size: 30px;
@status-online: #060;
@status-away: #cc0;
@status-dnd: #900;
@status-offline: gray;

.shoutbox-opacity-transition {
  opacity: 0;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.shoutbox-shout-container {
  margin: 5px 0;
  position: relative;

  .shoutbox-shout-avatar {
    .img-circle();
    border: 2px solid @status-offline;
    display: inline-block;
    vertical-align: top;
    width: @avatar-size;
    height: @avatar-size;
    box-shadow: 0 1px 1px #555555;
    &-link {
      position: absolute;
      left: 0;
    }
    &.online {
      border: 2px solid @status-online;
    }
    &.away {
      border: 2px solid @status-away;
    }
    &.dnd {
      border: 2px solid @status-dnd;
    }
    &.offline {
      border: 2px solid @status-offline;
    }
  }

  .shoutbox-shout-content {
    display: inline-block;
    width: 100%;
    padding-left: @avatar-size + 5px;
    font-size: @font-size-base;
    line-height: @font-size-base;
    & > a {
      font-size: @font-size-base + 2px;
      line-height: @font-size-base + 2px;
    }
    & > div {
      margin: 1px 0 3px;
      &:hover .shoutbox-shout-options {
        opacity: 1;
      }
      &:last-child {
        margin: 1px 0 0;
      }
    }
    & p {
      margin: 0;
    }

    .shoutbox-shout-details {
      &:hover .shoutbox-shout-timestamp {
        opacity: 1;
      }

      .shoutbox-shout-typing {
        position: absolute;
        &.isTyping {
          position: relative;
          opacity: 1;
        }
      }

      .shoutbox-shout-timestamp, .shoutbox-shout-typing {
        .shoutbox-opacity-transition;
      }
    }

    .shoutbox-shout-options {
      .shoutbox-opacity-transition;
    }
  }
}

#shoutbox {
  &-content, &-archive-content {
    height: 200px;
    overflow-y: scroll;

    & p {
      margin: 0;
    }
  }

  &-archive-content {
    height: 300px;
  }

  &-settings-menu span {
    width: 15px;
  }

  & .btn-group {
    margin-top: 5px;
  }

  #shoutbox-content-container {
    position: relative;

    #shoutbox-content-overlay {
      width: 100%;
      max-height: 100%;
      padding: 10px;
      position: absolute;
      background-color: @body-bg;
      overflow-y: scroll;
      z-index: 1;
      visibility: hidden;
      .shoutbox-opacity-transition;

      &.active {
        opacity: 0.9;
        visibility: visible;
        transition-delay: 0s;
      }

      .shoutbox-content-overlay-close {
        float: right;
      }
    }
  }
}

.shoutbox-admin {
  &-feature {
    opacity: 1;
    .shoutbox-opacity-transition;
    &.disabled {
      opacity: 0.5;
    }

    & .feature-icon {
      opacity: 0.8;
    }
  }
}