#shoutbox {
  &-content, &-archive-content {
    font-size: 14px;
    height: 200px;
    overflow-y: scroll;

    & p {
      margin: 0;
    }
  }

  &-archive-content {
    height: 300px;
  }

  &-settings-menu span {
    width: 15px;
  }

  & .btn-group {
    margin-top: 5px;
  }
}

.shoutbox {
  &-user {
    font-weight: bold;
    color: inherit;

    &.shoutbox-user-admin {
      color: red;
    }

    &-image {
      .img-circle();
      width: 15px;
      margin-right: 3px;
      //display: none;
    }
  }

  &-shout-option {
    font-size: inherit;
    color: inherit;
    opacity: 0.4;
    padding-left: 2px!important;
  }

  &-timestamp {
    color: darkgrey;
  }
}

.shoutbox-admin {
  &-feature {
    opacity: 1;
    transition: opacity 0.3s;
    &.disabled {
      opacity: 0.5;
    }

    & .feature-icon {
      opacity: 0.8;
    }
  }
}